#### Syntax ####

In [9]:
print("Hello, World!")

Hello, World!

#### Variabel ####

In [15]:
nama = "cindy"
usia = 18

print("nama saya adalah", nama, "dan usia saya adalah", usia)

nama saya adalah cindy dan usia saya adalah 18

#### Tipe Data ####

In [17]:
nama = "cindy"
usia = 18
tinggi = 1.50
benar = True
print(type(nama))
print(type(usia))
print(type(tinggi))
print(type(benar))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

#### Operator Aritmatika ####

In [23]:
a = 20
b = 20

c = a+b #penjumlahan
d = a-b #pengurangan
e = a*b #perkalian
f = a/b #pembagian
g = a**b #perpangkatan
h = a%b #sisa bagi
i = a//b #pembagian bulat

#### Multistatment Variabel ####

In [30]:
nama = "cindy"
a = 10; b = 8
kesibukan, keterangan ="berkuliah", "universitas telkom surabaya"
print(f"nama saya {nama} dan umur saya {a+b} tahun dan sedang {kesibukan} di {keterangan}")

nama saya cindy dan umur saya 18 tahun dan sedang berkuliah di universitas telkom surabaya

#### Input Pengguna ####

In [34]:
nama = input("masukan nama:")
makan = "sudah"
harga = int(input("berapa harganya?:"))
print("\n")
print("halo, perkenalkan aku", nama, "dan aku", makan, "makan mie yang harganya Rp", harga)

masukan nama: CINDY NATASA
berapa harganya?: 25000

halo, perkenalkan aku CINDY NATASA dan aku sudah makan mie yang harganya Rp 25000

#### Percabangan ####

In [36]:
nilai = int(input("masukan nilai:"))
if nilai >+ 70:
    print("selamat anda lulus")
elif nilai ==50:
    print("semoga lulus")
else:
    print("anda tidak lulus")

masukan nilai: 100

selamat anda lulus

#### Penjumlahan Sederhana ####

In [55]:
# Input bilangan 
bilangan1 = float(input("Masukkan bilangan pertama: "))
bilangan2 = float(input("Masukkan bilangan kedua: "))
hasil = bilangan1 + bilangan2
print("Hasil penjumlahan:", hasil)

Masukkan bilangan pertama:  20
Masukkan bilangan kedua:  20

Hasil penjumlahan: 40.0

#### Eksponensial (Pangkat) ####

In [62]:
basis = float(input("masukan basis:"))
eksponen = float(input("masukan eksponen:"))
hasil = basis ** eksponen
print("hasil pangkat:", hasil)

masukan basis: 30
masukan eksponen: 35

hasil pangkat: 5.003154509899971e+51

#### Modulo (Sisa Bagi) ####

In [68]:
bilangan1 = int(input("Masukkan bilangan pertama (integer): "))
bilangan2 = int(input("Masukkan bilangan kedua (integer): "))
hasil = bilangan1 % bilangan2
print("Sisa bagi:", hasil)

Masukkan bilangan pertama (integer):  29
Masukkan bilangan kedua (integer):  2

Sisa bagi: 1

#### Akar Kuadrat ####

In [75]:
import math
bilangan = float(input("Masukkan bilangan: "))
hasil = math.sqrt(bilangan)
print("Akar kuadrat:", hasil)

Masukkan bilangan:  225

Akar kuadrat: 15.0

#### Luas Segitiga ####

In [22]:
tinggi = float(input("Masukkan tinggi segitiga: "))
alas = float(input("Masukkan alas segitiga: "))
luas = 0.5 * tinggi * alas
print("luas segitiga:", luas)

Masukkan tinggi segitiga:  15
Masukkan alas segitiga:  10

luas segitiga: 75.0

#### Bilangan Faktorial ####

In [34]:
nilai = 100
if nilai >= 75:
    print("selamat anda lulus.")

selamat anda lulus.

#### percabangan if-else ####

In [100]:
nilai = 100
if nilai >= 75:
    print("Anda lulus.")
else:
    print("Anda tidak lulus.")

Anda lulus.

#### percabangan if-elif-else ####

In [104]:
nilai = 80
if nilai >= 90:
    print("sangat baik")
elif nilai >= 80:
    print("baik")
elif nilai >= 70:
    print("cukup")
else:
    print("kurang")

baik

In [124]:
buah = ["apel", "mangga", "melon"]
for buah in buah:
    print(f'Saya Suka Makan {buah}')

Saya Suka Makan apel
Saya Suka Makan mangga
Saya Suka Makan melon

In [126]:
buah = ["apel", "mangga", "melon"]
for i in range(3):
    print(buah[i])

apel
mangga
melon

In [128]:
angka = 10
for i in range(1, 11):
    print(angka, 'x', i, '=', angka*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [132]:
#menampilkan angka urut
i = 1
while i <= 3:
    print(i)
    i += 1

1
2
3

In [144]:
#menampilkan angka kelipatan
i = 5
while i < 30:
    print(i)
    i = i + 3

5
8
11
14
17
20
23
26
29